<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>connectin node with mysql</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,td {
        padding: 8px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-small;
      }
      tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
  </head>
  <body>
    <div>
      <table class="table1">
        <tr>
          <%for (let index = 0 ; index < userFields.length ; index++)
          {%>
            <th><%=userFields[index].name%></th>
          <%}%>
        </tr>
        <% if (userData.length != 0)
        { for (let outer = 0 ; outer < userData.length ; outer++) {%>
        <tr>
          <%for (let key in userData[outer]){%>
            <td><%=userData[outer][key]%></td>
          <%}%>
        </tr>
        <%}%><%}%>
      </table>
    </div>
  </body>
</html>
