
.actor {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 1rem;
      margin : 5%;
    }
.city {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  margin: 2% 5%;
}
    
table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: #F8FAFF;
  text-align: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
  thead {
    box-shadow: 0 5px 10px #e1e5ee;
  }

  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  td {
    padding: 1rem 2rem;
  }

  tbody tr:hover
  {
    transform: scale(1.05);
    background-color:#F2F4F7;
    cursor: pointer;
  }
